h2.intro {
  text-shadow: greenyellow 1px 0 10px;
  text-underline-position: below;
  text-align: center;
}

p.intro {
font-family: Times;
background-color: grey;
color: navy
}

img.intro {
  border-radius: 50%;
}