.header {
  text-shadow: greenyellow 1px 0 10px;
  text-underline-position: below;
  text-align: center;
}

.intro {
font-family: Times;
background-color: grey;
color: navy
}

.image {
  border-radius: 50%;
}